# Compiled source #
###################
*.dll
*.exe
*.obj
*.ilk
*.lib
*.pdb

# Config files #
################
*.suo
.vs

# Databases #
#############
*.db
*.opendb

# VS Cached files #
###################
ipch/

# Other  #
##########
Debug/
Release/
x64/
*.lnk
